
.right-menulist{
	margin:0px;
	float: right;
}
.footerLogo{
	float: left;
    padding: 1.5em;
	margin-left:4em;
}
.headLogo
{
	float: left;
    padding-top: 3em;
	margin-left:4em;
}
.headLogo img
{
	height: 1.3em;
}

.footerLogo img{
	height: 1.3em;
} 
.copyrightMessage-desktop{
	color: white;  
    font-size: 0.8em;
    padding: 2.4em 7em 2.4em 2.4em;
    float: right;	
	display:block;
}
.copyrightMessage-desktop a{
	color: white;
	text-decoration: none;
}
.copyrightMessage-mobile{
	display:none;
	color: white;  
    font-size: 0.8em;
    text-align: center;	
	background:black;
	padding-bottom:2.2em;
}
.copyrightMessage-mobile 	a{
	color: white;
	text-decoration: none;
}

.productListItem{
    float: left;
    padding: 1em;
}

@media screen and (max-width: 480px) 
{ 
	.productListItem{
	margin: auto;
    text-align:center;
	margin:auto;
	float:none;
	}
	.container {
		width:auto;
	}
	.footerLogo{
		float: none;
		margin:0px;
	}
	.copyrightMessage-mobile{
	display:block;
}
	.copyrightMessage-desktop{
	display:none;
}

	
}

.CSthumbnail {
	margin:0px;
}
.imageLink{
	margin:0px;
}
.imageWrapper{
	margin:0px;
    background: #f7f7f7 none repeat scroll 0 0;
	padding:1em;
	
}
.img-responsive{
	height: auto;
    width: 230px;
}
.caption{
	margin:0px;
}
.productTitle{
	background: white none repeat scroll 0 0;
    padding-top: 1em;
    text-align: center;
	font-family: 'Lato';
}
.productTitle a {
	text-decoration:none;
	color:black;
	
	
}
.bold{
	margin:0px;
}
.köpbutton{
	background: #e95d24 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 11px;
    padding: 7px;
    width: 6em;
	text-align:center;
	margin:auto;
}
.köpbutton a{
	color:white;
	text-decoration:none;
	font-family: 'Lato';
}



.btn btn-success hidden-xs hidden-ms{
	
	margin:0px;
}
.price{
	margin:0px;
}


body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	background: white;
}

#header
{
    height: 6em;
}

#content
{
	padding: 20px;
}

#sidebar
{
	padding: 20px;
}

#footer
{
	background: black none repeat scroll 0 0;
    border-top: 1px solid #c9e0ed;
    font-size: 0.8em;
    margin: 20px 0 0;
    text-align: center;
	height:5em;
}



#mainmenu
{
 border-bottom:2px solid #f7f7f7;
}

#mainmenu ul
{
	margin-right: 4em;
    margin-top: -21px;
}

#mainmenu ul li
{
	display: inline;
	
}

#mainmenu ul li a
{
	color:black;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:red;
	padding:5px 8px;
	font-family: 'Lato';
	
	
}
#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	border-bottom: 1px solid red;
}



div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.post
{
	margin: 0 0 20px;
}

.post .title
{
	font-size: 1.5em;
	border-bottom: 1px solid #C9E0ED;
}

.post .title a
{
	color: #555;
	text-decoration: none;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #EFFDFF;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}